# Python
__pycache__/
*.py[cod]
*.pyo

# Entornos virtuales
venv/
.env/

# Conda
.conda/

# Jupyter
.ipynb_checkpoints/

# PyCharm
.idea/

# Archivos PDF de pruebas
*.pdf

# Archivos temporales
*.log
*.tmp

# Sistema operativo
.DS_Store
Thumbs.db